:root {
  --dark: hsl(240, 30%, 35%);
  --light: hsl(240, 30%, 75%);
  --ultra-light: hsl(240, 30%, 85%);
  --darker-black: hsl(0, 0%, 30%);
  --darker-b-trans: hsla(0, 0%, 30%, 0.8);
  --lighter-white: hsl(0, 0%, 90%);
  --salmon-bg: hsl(6, 93%, 71%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background: red; */
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 50px;
  background: var(--light);
}
.container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--light);
}
article {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--ultra-light);
  border-radius: 10px;
  box-shadow: 5px 5px 2px 2px var(--darker-black);
  padding: 5px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
section {
  height: 50%;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* height: 100%; */
  flex-wrap: wrap;
}
#go,
button {
  width: 50%;
  min-width: 130px;
  height: 35px;
  border: 1px solid transparent;
  background-color: var(--light);
  border-radius: 5px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 5px 5px 2px 2px var(--dark);
  font-size: 18px;
  transition: all 1s ease;
}
#go:hover,
button:hover {
  background-color: var(--salmon-bg);
  transform: scale(1.1);
  box-shadow: 5px 5px 2px 2px var(--darker-black);
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;
  background: var(--ultra-light);
}
footer button {
  width: 20%;
}

@media screen and (max-width: 600px) {
  article {
    width: 90%;
  }
  #go {
    width: 90%;
  }
  footer {
    padding: 5px;
  }
  footer button {
    width: 30%;
  }
}
/* !------------------------------- */
.container-card-modal {
  height: 30%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: var(--light);
}
.content-card-modal {
  background: var(--light);
  width: 20%;
  min-width: 80px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin-left: 20px;
  flex-direction: column;
  /* overflow: scroll; */
}
#modalBtn {
  border: 1px solid var(--dark);
  position: absolute;
  left: 50px;
  top: 10px;
  max-width: 150px;
  font-size: 2rem;
}
/* !---------------------------- */
/* The Modal (background) */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 10px; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--darker-black); /* Fallback color */
  background-color: var(--darker-b-trans); /* Black w/ opacity */
  overflow: hidden;
}
.modal-display {
  width: 100%;
}

/* Modal Content/Box */
.modal-content {
  transform: translateX(-300px);
  background-color: var(--lighter-white);
  /* margin: 50% auto; 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--darker-black);
  width: 30%; /* Could be more or less, depending on screen size */
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
  transition: all 1s ease;
}
.modal-content-display {
  width: 30%;
  min-width: 300px;
  transform: translateX(1px);
  transition: transform 1s ease;
}

/* The Close Button */
.close {
  color: var(--darker-black);
  float: right;
  font-size: 28px;
  font-weight: bold;
  transform: translate(10px, -15px);
  transition: transform 1s ease;
}

.close:hover,
.close:focus {
  color: var(--salmon-bg);
  text-decoration: none;
  cursor: pointer;
  transform: translate(10px, -15px) scale(1.5);
}
.modal-content section {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.modal-content section ul {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
